<div >
  <nav class="navbar navbar-expand-md navbar-dark bg-ledapp">
    <!-- <label class="navbar-brand navbar-brand-label" style="font-size: 22px; font-weight: bolder;"><strong
        style="font-size: 12px; font-weight: bolder;" [routerLink]="['/app-dashboard']">SANTOSHITAL Fitness Club</strong>
      <a class="navbar-brand navbar-brand-home" ><i class="fa fa-home fa-fw fa-lg"
          aria-hidden="true"></i></a>
    </label> -->



      <uL class="nav navbar-nav" >
        <li><a class="btn" style="color:white" [routerLink]="['/app-dashboard']">SANTOSHITAL Fitness Club</a>
        <li><a class="btn" style="color:white" [routerLink]="['/app-about']" >About</a>
        </li>
        <li><a class="btn" style="color:white" [routerLink]="['/app-contact']">Contact Us</a>
        </li>
        <li><a class="btn" style="color:white" [routerLink]="['/app-blogs']">Blogs</a>
        </li>
      </uL>

  </nav>
</div>
<style type="text/css">
  .bg-ledapp {
    background: #354191 !important;
    /* background: #1e7596 !important; */
  }

  .menu-ledapp>a:hover {
    color: white;
    background-color: #007bff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font: bold;
    /* border-color: #007bff;
    background-image: none; */
  }

  .btn:hover {
    background-color: #007bff;
  }

</style>

<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.fancybox.pack.js"></script>
<script src="assets/js/jquery.fancybox-media.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/portfolio/jquery.quicksand.js"></script>
<script src="assets/js/portfolio/setting.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>
<script src="assets/js/animate.js"></script>
<script src="assets/js/custom.js"></script> -->