
<div class="footer">
  <p>Copyright &copy; SANTOSHITAL - 2023&nbsp;&nbsp;v1&nbsp;&nbsp;&nbsp;
        <span></span>
  </p>
    <!-- <img src="/assets/img/Bosch-footer-strip.png" style="width: 100%; height: 20px;"> -->
</div>

<style>
footer {
	position: fixed;
    bottom: 0px;
	z-index: 1000;
	width: 100%;
}

.footer {
    width: 100%;
    /* background-color: #1e7596; */
    background-color: #494e85 !important;
    color: white;
    text-align: center;
    /*padding-top: 16px;*/
    height: 40px;
    font-size: small;
    position: fixed;
    bottom: 0px;
	  z-index: 1000;
	  width: 100%;
}

.footer p {
	color: white;
	text-align: right;
	margin-bottom: 0px;
	padding-top: 4px;
}
</style>