<head><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4794221243459744"
    crossorigin="anonymous"></script></head>
<div class ="col-12" style="text-align: center;">
<strong>BLOGS</strong></div>
<div class="row backgroundImage" id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <div class="col" style="overflow: auto;">
<!-- 
        <div class="col-12 " style="margin-top: 5%;
                margin-bottom: 1%;
                text-align: center;
                font-style:normal;" >
            <strong>Uploading soon...!!!</strong>
        </div> -->

        <div class="col-12" style="margin-top: 5%;
        margin-bottom: 1%;
        text-align: left;
        font-style: italic;
        font-style: normal;" >
            FITNESS VIDEOS
        </div>
  
        <div class="row" style="padding-left: 5%;margin-top: 5%;">
          <iframe class="col-sm-3" style="padding: 0%;" width="100%" height="345" src="https://www.youtube.com/embed/tPjKr46tVwY" allowfullscreen> </iframe>
          <div class="col-sm-1"></div>
          <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/JaMQfQK1_i8" allowfullscreen> </iframe>
  
          <div class="col-sm-1"></div>
         <iframe class="col-sm-3" style="padding: 0%;" width="100%"  height="345" src="https://www.youtube.com/embed/3feSPKetkmI" allowfullscreen> </iframe>
      </div>
        



    </div>
</div>
