<div class ="col-12" style="text-align: center;"><strong >WEIGHT LOSS</strong>
</div>
<div class="row " style="height: auto; overflow: auto;margin-top: 5%;">
    <div class="col-12">
        <div class="row" style="
                margin-bottom: 5%;
                padding-left: 5%;
                padding-right: 5%;
                font-style: normal;">

            <ul>
                <strong style="
        margin-bottom: 2%; ">MORNING DRINKS</strong>
                <li>
                    Warm water
                </li>
                <li>
                    Chia seed water
                </li>
            </ul>
        </div>

        <div class="row" style="
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        font-style: normal;">
            <ul>
                <strong style="margin-bottom: 2%; ">Updating soon....!</strong>
            </ul>
        </div>
    </div>
</div>