<head><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4794221243459744"
    crossorigin="anonymous"></script></head>
<div class ="col-12" style="text-align: center;align-items: center;"> <strong >ABOUT</strong>
    <br>
    <ng-image-slider [images]="imageObject" #nav style="margin-top: 5%;"></ng-image-slider></div>

<div class="row backgroundImage" style="height: auto; overflow: auto;margin-top: 5%;">
    <div class="col-12">

        <div class="row" style="
                margin-bottom: 5%;
                padding-left: 5%;
                padding-right: 5%;
                font-style: normal;">
            <!-- <strong style="
            margin-bottom: 2%;">ABOUT</strong> -->
            <br>
            <P> Many people strive to be fit. Fitness, after all, is synonymous with health.

                Having a high level of overall fitness is linked with a lower risk of chronic disease, as well as a
                better ability to manage health issues that do come up. Better fitness also promotes more functionality
                and mobility throughout one’s life span.

                And in the short term, being active can help your day-to-day functioning, from better mood to sharper
                focus to better sleep.

                Simply put: Our bodies are meant to move, and they tend to function better when we’re more fit.

                That said, it’s also important to know that there are many different ways to be fit (think of a ballet
                dancer versus a bodybuilder or a sprinter versus a gymnast).
                And fitness does not have a singular “look.” In fact, appearance can’t necessarily tell you about
                someone’s habits, whether they’re actually physically active, or even whether they’re fit at all.</P>
            <br>
            <P>बहुत से लोग फिट रहने का प्रयास करते हैं। आख़िरकार, फिटनेस स्वास्थ्य का पर्याय है।

                समग्र फिटनेस का उच्च स्तर होने से पुरानी बीमारी का जोखिम कम होता है, साथ ही सामने आने वाली स्वास्थ्य
                समस्याओं को प्रबंधित करने की बेहतर क्षमता होती है। बेहतर फिटनेस किसी व्यक्ति के जीवन काल में अधिक
                कार्यक्षमता और गतिशीलता को भी बढ़ावा देती है।

                और अल्पावधि में, सक्रिय रहने से आपके दिन-प्रतिदिन के कामकाज में मदद मिल सकती है, बेहतर मूड से लेकर तीव्र
                फोकस से लेकर बेहतर नींद तक।

                सीधे शब्दों में कहें तो: हमारा शरीर चलने के लिए बना है, और जब हम अधिक फिट होते हैं तो वे बेहतर कार्य
                करते हैं।

                जैसा कि कहा गया है, यह जानना भी महत्वपूर्ण है कि फिट रहने के कई अलग-अलग तरीके हैं (एक बैले डांसर बनाम
                बॉडीबिल्डर या एक धावक बनाम जिमनास्ट के बारे में सोचें)। और फिटनेस का कोई एक ही "लुक" नहीं होता। वास्तव
                में, उपस्थिति आपको किसी की आदतों के बारे में नहीं बता सकती है, चाहे वे वास्तव में शारीरिक रूप से सक्रिय
                हों, या यहां तक ​​​​कि वे बिल्कुल फिट हों या नहीं।</P>
            </div>

            <div class ="col-12" style="text-align: center;"> <strong >VISION & MISSION</strong>
                <br></div>
            
            <div class="row" style="
            margin-bottom: 10%;
            padding-left: 5%;
            padding-right: 5%;
            font-style: normal;">
            <!-- <strong style="
            margin-bottom: 2%;">VISION & MISSION </strong> -->
            <br>
            <P><br>VISION -Fit for life.<br>MISSION -Be better everyday.</P>
            </div>
    </div> 
</div>