

<div class="row backgroundImage" id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
    <div class="col" style="overflow: auto;">

        <div class="col-1" style="margin-top: 5%;
                margin-bottom: 1%;
                text-align: center;
                font-style: italic;">
            <strong>ABOUT US</strong>
        </div>

        <div class="row" style="padding-left: 5%;">
            <P> For four decades, Maruthi Ceramics has been transforming homes and creating a culture of healthy,
                refined living. We curate the world’s most luxurious ceramics brands and offer them under one roof. With
                service that deeply respects every customer.

                At Maruthi you can choose from the world’s leading brands – Toto, Grohe, Hansgrohe, Jaquar, Hindware,
                Kajaria, Somany, Nitco, Rak, Franke, Carysil etc. Complementing this excellent choice is of course,
                excellent service – a Maruthi hallmark.

                In 2004, brothers Yathish and Naveen were handed the reins and legacy of the company. Their
                entrepreneurial vision drove the company to a whole new level, making Maruthi one of the largest
                distributors of the world’s leading ceramics brands.

                From one showroom it grew to three with a total space of 50,000 sq. ft. Maruthi Ceramics began to win
                over new generations of fans by the sheer breadth of premium products and the quality of service.

                Maruthi Ceramics is committed to providing comfort; enabling healthy and refined living; respecting the
                environment; and building life-enriching relationships.></P>
        </div>


        <div class="col-1" style="margin-top: 5%;
      margin-bottom: 1%;
      text-align: center;
      font-style: italic;">
            <strong>VISION & MISSION</strong>
        </div>

        <div class="row" style="padding-left: 5%;">
            <P> VISION
                To enrich lives and enable healthy, refined living by offering the world’s and India’s most luxurious
                ceramics brands in showrooms that are designed to delight. To ensure every product and transaction is
                accompanied with impeccable quality of service. To honour and respect every customer and the
                environment.
                <br>
                MISSION
                To become the most trusted name in luxury home solutions by –

                Offering high quality products from the world’s leading ceramics brands.
                Ensuring customer delight through impeccable service.
                Using ethical, honest and creative marketing.
                Bringing comfort, ease and transparency to every transaction with our customers.
                By deeply respecting our customers, our society and the environment.
            </P>
        </div>


    </div>
</div>
