<head><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4794221243459744"
    crossorigin="anonymous"></script></head>
<div class="row" >
    <div *ngIf="_diet.waterflag" class="col-12" style="text-align: left;">
        <p >
            <br>
            1. Lemon Water
            <br>
            2. Cinnamon Water
            <br>
            3. Coconut Water
            <br>
            4. Jeera Water
            <br>
            5. Methi Water
        </p>
    </div>

    <div *ngIf="_diet.breakfastflag" class="col-12" style="text-align: left;">
        <p >
            <br>
            <a href="https://www.healthline.com/nutrition/9-benefits-oats-oatmeal">1. Oats</a>
            <br>
            <a href="https://food.ndtv.com/food-drinks/poha-health-benefits-6-reasons-this-indian-breakfast-food-is-great-for-you-1846130">2. Poha</a>
        </p>
    </div>
    <div *ngIf="_diet.lunchflag" class="col-12" style="text-align: left;">
        <p >
            <br>
            <a href="https://www.healthline.com/nutrition/healthy-lunch-ideas-for-weight-loss#diabetes-friendly">Lunch</a>
            <br>
        </p>
    </div>
    <div *ngIf="_diet.eveningflag" class="col-12" style="text-align: left;">
        <p >
            <br>
            <a href="https://www.eatingwell.com/article/77540/the-10-best-snacks-for-weight-loss/">Snacks</a>
            <br>
        </p>
    </div>
    <div *ngIf="_diet.dinnerflag" class="col-12" style="text-align: left;">
        <p >
            <br>
            <a href="https://www.eatingwell.com/gallery/7912783/easy-dinner-recipes-for-weight-loss-to-make-forever">Dinner</a>
            <br>
   
        </p>
    </div>
    <div *ngIf="_diet.nightflag" class="col-12" style="text-align: left;">
        <p >
            <br>
            1. Cinnamon tea
            <br>
            2.  Soaked fenugreek seed water
            <br>
            3. Coconut Water
            <br>
            4. Green tea
            <br>
            5. Apple cider vinegar drink
        </p>
    </div>
</div>