

<div class="row backgroundImage" id="body-row" style="height: 97vh; max-height: 100vh;overflow: auto;">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <div class="image-dashbaord" style="overflow: auto;">
        <span style="color: aliceblue;padding-left: 4%;">{{currentDate | date:'yyyy-MM-dd'}} {{clock}}</span>

        <div class="col-12"  style="margin-top: 5%;
                margin-bottom: 1%;
                text-align: center;
                font-style:normal;
                color: white;"
                 >
            <strong>Welcome to SANTOSHITAL Fitness Club!</strong></div>


        



    </div>
</div>
